@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row" style="display:flex;justify-content:center">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card my-5">
                <div class="card-body">
                    <div class="text-danger mb-2 mt-3" asp-validation-summary="All"></div>
                    <h4 style="text-align:center" class="card-title">ResetPassword</h4>
                    <form asp-controller="Account" asp-action="ResetPassword" method="post" class="forms-sample">
                        <div class="form-group">
                            <label asp-for="Password">Password</label>
                            <input class="form-control" asp-for="Password" placeholder="Password">
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword">ConfirmPassword</label>
                            <input class="form-control" asp-for="ConfirmPassword" placeholder="ConfirmPassword">
                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                        </div>
                  
                        <button type="submit" class="btn btn-primary mr-2">Reset</button>
                        <input type="hidden" asp-for="Token" value="@Model.Token" />
                        <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationPartial" />
}

