
@{
    ViewData["Title"] = "VerifyEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="alert alert-warning" role="alert" style="text-align:center">
        <h3>Welcome</h3>
        <p>Please check your email !!!</p>
    </div>
</div>

